@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

*, *::before, *::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  line-height: 2;
  font-family: "游ゴシック体",YuGothic,"Yu Gothic","ヒラギノ角ゴ ProN",sans-serif;
  color: #333333;
  font-size: 1.6rem; }

a {
  color: #333333;
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

.only_pc {
  display: block; }

.only_sp {
  display: none; }

.clearfix::after {
  content: '';
  display: block;
  clear: both;
  height: 0; }

ul {
  list-style: none; }

.inner {
  position: relative;
  max-width: 1060px;
  padding: 0 30px;
  margin: 0 auto; }

.sawarabi {
  font-family: 'Sawarabi Mincho'; }

@media screen and (max-width: 768px) {
  body {
    font-size: 1.4rem; }
  .only_pc {
    display: none; }
  .only_sp {
    display: inline; } }

@media screen and (max-width: 575px) {
  .inner {
    padding: 0 16px; } }

/***************************************
** Header
***************************************/
.corp-header {
  padding: 28px 0; }
  .corp-header p {
    line-height: 1;
    height: 44px; }
    .corp-header p img {
      max-height: 100%;
      width: auto; }
  .corp-header-inner {
    position: relative;
    max-width: 1060px;
    padding: 0 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }

.global-nav ul::after {
  content: '';
  display: block;
  clear: both; }

.global-nav ul li {
  float: left;
  margin-left: 36px; }
  .global-nav ul li a {
    font-size: 1.6rem; }

@media screen and (max-width: 768px) {
  .corp-header {
    padding: 16px 0; }
    .corp-header p {
      height: 24px; }
    .corp-header-inner {
      padding: 0 16px; }
  .global-nav {
    display: none; } }

/***************************************
** Main visual
***************************************/
.mv {
  background: url(/wp-content/themes/mimossa-media/img/front/fv.png) no-repeat center center/cover;
  height: 800px; }
  .mv h1 {
    width: 800px;
    position: absolute;
    top: 620px;
    right: -26%;
    z-index: 10; }
  .mv p {
    position: absolute;
    z-index: 10;
    top: 220px;
    left: 30px; }

@media screen and (max-width: 1600px) {
  .mv h1 {
    right: -13%; } }

@media screen and (max-width: 1300px) {
  .mv h1 {
    right: -4%; } }

@media screen and (max-width: 1100px) {
  .mv h1 {
    right: 1%;
    width: 720px; } }

@media screen and (max-width: 768px) {
  .mv {
    height: 500px; }
    .mv h1 {
      top: 340px;
      width: 260px; }
    .mv p {
      top: 100px;
      left: 16px; } }

/***************************************
** 共通 h2タイトル
***************************************/
.h2_ttl {
  position: relative;
  height: 88px;
  padding-bottom: 30px;
  text-align: center; }
  .h2_ttl img {
    max-height: 100%;
    height: auto; }
  .h2_ttl:after {
    content: '';
    display: block;
    width: 72px;
    height: 1px;
    background: #333333;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; }

.h3_one {
  margin-top: 34px;
  height: 32px;
  text-align: center; }
  .h3_one.media {
    height: 72px; }
  .h3_one img {
    max-height: 100%;
    height: auto; }

@media screen and (max-width: 768px) {
  .h2_ttl {
    height: 62px;
    padding-bottom: 22px; }
    .h2_ttl:after {
      width: 54px; }
  .h3_one {
    margin-top: 20px;
    height: 20px; }
    .h3_one.media {
      height: 50px; } }

/***************************************
** サービス
***************************************/
.front-service {
  padding: 100px 0; }
  .front-service .service_1 {
    background: url(/wp-content/themes/mimossa-media/img/front/svs_bg_1.png) no-repeat center center/cover;
    height: 500px;
    margin-top: 60px; }
  .front-service .service_2 {
    background: url(/wp-content/themes/mimossa-media/img/front/svs_bg_2.png) no-repeat center center/cover;
    height: 500px;
    margin-top: 60px; }
  .front-service .cnt {
    text-align: left;
    width: 46%;
    margin: 0 0 0 auto;
    padding: 110px 10px 0 0; }
  .front-service h3 {
    height: 44px;
    line-height: 1; }
    .front-service h3 img {
      max-height: 100%;
      width: auto; }
  .front-service p {
    max-width: 360px;
    margin: 12px 0 16px; }
  .front-service .svs-link {
    display: block;
    text-align: center;
    max-width: 360px;
    font-size: 1.6rem;
    color: #ffffff;
    background: #000000;
    border: 1px solid #000000;
    padding: 16px 0;
    position: relative; }
    .front-service .svs-link:after {
      content: '';
      display: inline-block;
      width: 12px;
      height: 12px;
      margin: 0 10px;
      border-top: 2px solid #ffffff;
      border-right: 2px solid #ffffff;
      transform: rotate(45deg);
      position: absolute;
      right: 6%;
      top: 0;
      bottom: 0;
      margin: auto; }
    .front-service .svs-link:hover {
      background: #ffffff;
      color: #000000;
      transition: 0.3s all ease; }
      .front-service .svs-link:hover:after {
        border-color: #000;
        transition: 0.3s all ease; }

@media screen and (max-width: 768px) {
  .front-service {
    padding: 50px 0; }
    .front-service .service_1 {
      background: none;
      height: auto;
      margin-top: 40px; }
    .front-service .service_2 {
      background: none;
      height: auto;
      margin-top: 50px; }
    .front-service .cnt {
      width: 100%;
      max-width: 360px;
      margin: -20% auto 0;
      padding: 0; } }

/***************************************
** 最新投稿
***************************************/
.front-contents {
  padding: 100px 0;
  background: #F4F4F1; }

.content-posts {
  margin-top: 60px; }

.front-post-list::after {
  content: '';
  display: block;
  clear: both; }

.front-post-list li {
  width: 50%;
  float: left;
  padding: 0 3%; }
  .front-post-list li:nth-child(2n) {
    padding-top: 60px; }

.front-post-list .thumb {
  line-height: 1; }

.front-post-list .date {
  font-family: 'Sawarabi Mincho';
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-weight: lighter; }

.front-post-list .post_text {
  margin: 24px 0 32px; }
  .front-post-list .post_text h4 {
    font-size: 2.4rem;
    font-family: 'Sawarabi Mincho';
    font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    font-weight: lighter;
    margin-bottom: 12px; }

.front-post-list a {
  display: block;
  text-align: center;
  max-width: 360px;
  font-size: 1.6rem;
  color: #ffffff;
  background: #000000;
  border: 1px solid #000000;
  padding: 16px 0;
  margin: 0 auto;
  position: relative; }
  .front-post-list a:after {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 10px;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 6%;
    top: 0;
    bottom: 0;
    margin: auto; }
  .front-post-list a:hover {
    background: #ffffff;
    color: #000000;
    transition: 0.3s all ease; }
    .front-post-list a:hover:after {
      border-color: #000;
      transition: 0.3s all ease; }

@media screen and (max-width: 768px) {
  .front-contents {
    padding: 50px 0 30px; }
  .content-posts {
    margin-top: 40px; }
  .front-post-list li {
    width: auto;
    padding-bottom: 40px; }
    .front-post-list li:nth-child(2n) {
      padding-top: 0px; }
  .front-post-list .post_text {
    max-width: 360px;
    margin: 20px auto 24px; }
    .front-post-list .post_text h4 {
      font-size: 2rem;
      margin-bottom: 8px; } }

/***************************************
** 会社概要
***************************************/
.front-company {
  padding: 100px 0; }
  .front-company .txt {
    margin: 46px 0 42px;
    text-align: center; }
  .front-company .company-cnt dl {
    border-bottom: 1px solid #333333; }
    .front-company .company-cnt dl:after {
      content: '';
      display: block;
      clear: both; }
    .front-company .company-cnt dl dt, .front-company .company-cnt dl dd {
      float: left;
      text-align: left;
      padding: 26px 0; }
    .front-company .company-cnt dl dt {
      width: 180px; }
    .front-company .company-cnt dl dd {
      width: auto; }

@media screen and (max-width: 768px) {
  .front-company {
    padding: 50px 0; }
    .front-company .txt {
      margin: 32px 0 28px; }
    .front-company .company-cnt p {
      text-align: left; }
    .front-company .company-cnt dl dt, .front-company .company-cnt dl dd {
      float: none; }
    .front-company .company-cnt dl dt {
      width: auto;
      padding: 24px 0 0; }
    .front-company .company-cnt dl dd {
      width: auto;
      padding: 4px 0 24px; } }

/***************************************
** Contact
***************************************/
.front-contact {
  background: #F4F4F1;
  padding: 100px 0; }

@media screen and (max-width: 768px) {
  .front-contact {
    padding: 50px 0; } }

/***************************************
** News、Instagram
***************************************/
.front-bottom {
  padding: 100px 0; }

.front-news, .front-instagram {
  float: left;
  width: 50%; }

.front-news-list {
  margin-top: 50px; }
  .front-news-list li {
    margin-bottom: 30px; }
    .front-news-list li:last-child {
      margin-bottom: 0; }
  .front-news-list dl::after {
    content: '';
    display: block;
    clear: both; }
  .front-news-list dt, .front-news-list dd {
    float: left; }
  .front-news-list dt {
    font-weight: bold;
    width: 120px; }

@media screen and (max-width: 768px) {
  .front-bottom {
    padding: 50px 0; }
  .front-news, .front-instagram {
    float: none;
    width: auto; }
  .front-instagram {
    margin-top: 40px; }
  .front-news-list {
    margin-top: 28px; }
    .front-news-list dt, .front-news-list dd {
      float: none; } }

/***************************************
** Contact
***************************************/
.footer {
  padding: 54px 0; }
  .footer-menu {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #333;
    padding-bottom: 26px;
    margin-bottom: 54px; }
    .footer-menu ul::after {
      content: '';
      display: block;
      clear: both; }
    .footer-menu ul li {
      float: left;
      margin: 0 10px; }
  .footer p {
    text-align: center;
    font-size: 2.4rem; }
    .footer p small {
      font-size: 1.2rem; }

@media screen and (max-width: 768px) {
  .footer {
    padding: 32px 0; }
    .footer-menu {
      display: none; } }

.form-wrap {
  margin-top: 40px; }

.form-group {
  display: flex;
  margin-bottom: 30px; }
  .form-group:after {
    content: '';
    display: block;
    clear: both; }
  .form-group label, .form-group .input, .form-group .textarea {
    display: block; }
  .form-group label {
    width: 270px;
    padding-top: 3px;
    padding-right: 10px;
    font-weight: bold; }
  .form-group .input, .form-group .textarea {
    width: 100%;
    position: relative; }
  .form-group .wpcf7-form-control-wrap {
    display: block;
    width: 100%; }
  .form-group input, .form-group textarea {
    padding: 10px;
    display: block;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    background: #ffffff; }
  .form-group .require-mark {
    float: right;
    color: #962222; }
  .form-group .attention {
    font-size: 1.4rem; }

.smt-btn {
  margin-top: 40px; }
  .smt-btn input {
    font-size: 18px;
    display: block;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    background: #ffffff;
    line-height: 68px;
    width: 100%;
    max-width: 360px;
    margin: 0 auto 0;
    background: #000000;
    border: 1px solid #000000;
    color: #ffffff; }
    .smt-btn input:hover {
      transition: all 0.3s ease;
      color: #000000;
      background-color: #ffffff; }

@media screen and (max-width: 1060px) {
  .form-wrap {
    margin-top: 30px; }
  .form-group {
    display: block;
    margin-bottom: 30px; }
    .form-group label {
      width: 100%;
      padding: 0; }
    .form-group .attention {
      font-size: 1.2rem; } }

.toggle_btn {
  display: none;
  width: 30px;
  height: 30px;
  transition: all .5s;
  cursor: pointer;
  z-index: 3;
  position: relative; }
  .toggle_btn span {
    display: block;
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #333;
    border-radius: 4px;
    transition: all .5s; }
    .toggle_btn span:nth-child(1) {
      top: 4px; }
    .toggle_btn span:nth-child(2) {
      top: 14px; }
    .toggle_btn span:nth-child(3) {
      bottom: 4px; }

.batsu {
  display: block;
  width: 50px;
  /*枠の大きさ*/
  height: 50px;
  /*枠の大きさ*/
  position: relative;
  margin: 0 6px 0 auto; }
  .batsu::before, .batsu::after {
    content: "";
    display: block;
    width: 30px;
    /*バツ線の長さ*/
    height: 2px;
    /*バツ線の太さ*/
    background: #000;
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 10px;
    margin: auto; }
  .batsu::after {
    transform: rotate(-45deg); }

.front-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  background: #ffffff;
  width: 100%;
  text-align: center; }
  .front-menu ul {
    padding: 20px; }
    .front-menu ul li {
      margin-bottom: 20px; }
      .front-menu ul li a {
        font-size: 20px; }

@media screen and (max-width: 768px) {
  .toggle_btn {
    display: block; } }
