@import '_reset';
*, *::before, *::after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    line-height:2;
    font-family: "游ゴシック体",YuGothic,"Yu Gothic","ヒラギノ角ゴ ProN",sans-serif;
    color: #333333;
    font-size: 1.6rem;
}

a{
    color:#333333;
    text-decoration: none;
}


img{
    max-width: 100%;
    height: auto;
}

.only_pc{
    display: block;
}

.only_sp{
    display: none;
}


.clearfix{
    &::after{
        content: '';
        display: block;
        clear: both;
        height: 0;
    }

}

ul{
    list-style: none;
}



.inner{
    position: relative;
    max-width:1060px;
    padding:0 30px;
    margin:0 auto;
}


.sawarabi{
    font-family: 'Sawarabi Mincho';
}

@media screen and (max-width: 768px){

    body{
        font-size: 1.4rem;
    }

    .only_pc{
        display: none;
    }

    .only_sp{
        display: inline;
    }

}

@media screen and (max-width: 575px){
    .inner{
        padding:0 16px;
    }
}



/***************************************
** Header
***************************************/


.corp-header{
    padding: 28px 0;
    p{
        line-height: 1;
        height: 44px;
        img{
            max-height: 100%;
            width: auto;
        }
    }
    &-inner{
        position: relative;
        max-width:1060px;
        padding:0 30px;
        margin:0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


.global-nav{
    ul{
        &::after{
            content: '';
            display: block;
            clear: both;
        }
        li{
            float: left;
            margin-left:36px;
            a{
                font-size:1.6rem;
            }
        }
    }
}



@media screen and (max-width: 768px){

    .corp-header{
        padding: 16px 0;
        p{
            height: 24px;
        }
        &-inner{
            padding:0 16px;
        }
    }

    .global-nav{
        display: none;
    }
}




/***************************************
** Main visual
***************************************/

.mv{
    background: url(/wp-content/themes/mimossa-media/img/front/fv.png) no-repeat center center/cover;
    height: 800px;
    h1{
        width: 800px;
        position: absolute;
        top: 620px;
        right:-26%;
        z-index: 10;
    }
    p{
        position: absolute;
        z-index: 10;
        top:220px;
        left:30px;
    }
}


@media screen and (max-width: 1600px){
    .mv{
        h1{
            right:-13%;
        }
    }
}

@media screen and (max-width: 1300px){
    .mv{
        h1{
            right:-4%;
        }
    }
}

@media screen and (max-width: 1100px){
    .mv{
        h1{
            right:1%;
            width:720px;
        }
    }
}

@media screen and (max-width: 768px){

    .mv{
        height: 500px;
        h1{
            top:340px;
            width:260px;
        }
        p{
            top:100px;
            left:16px;
        }
    }
}

@media screen and (max-width: 575px){

}





/***************************************
** 共通 h2タイトル
***************************************/

.h2_ttl{
    position: relative;
    height: 88px;
    padding-bottom:30px;
    text-align: center;
    img{
        max-height: 100%;
        height: auto;
    }
    &:after{
        content: '';
        display: block;
        width:72px;
        height: 1px;
        background: #333333;
        position: absolute;
        left:0;
        right:0;
        bottom:0;
        margin: auto;
    }
}

.h3_one{
    margin-top:34px;
    height: 32px;
    text-align: center;
    &.media{
        height: 72px;
    }
    img{
        max-height: 100%;
        height: auto;
    }
}


@media screen and (max-width: 768px){
 
    .h2_ttl{
        height: 62px;
        padding-bottom:22px;
        &:after{
            width: 54px;
        }
    }

    .h3_one{
        margin-top:20px;
        height: 20px;
        &.media{
            height: 50px;
        }
    }

}





/***************************************
** サービス
***************************************/

.front-service{
    padding: 100px 0;

    .service_1{
        background: url(/wp-content/themes/mimossa-media/img/front/svs_bg_1.png) no-repeat center center/cover;
        height: 500px;
        margin-top:60px;
    }
    .service_2{
        background: url(/wp-content/themes/mimossa-media/img/front/svs_bg_2.png) no-repeat center center/cover;
        height: 500px;
        margin-top:60px;
    }

    .cnt{
        text-align: left;
        width:46%;
        margin:0 0 0 auto;
        padding: 110px 10px 0 0;
    }

    h3{
        height: 44px;
        line-height: 1;
        img{
            max-height: 100%;
            width: auto;
        }
    }
    p{
        max-width:360px;
        margin:12px 0 16px;
    }
    .svs-link{
        display: block;
        text-align: center;
        max-width:360px;
        font-size: 1.6rem;
        color:#ffffff;
        background: #000000;
        border: 1px solid #000000;
        padding:16px 0;
        position: relative;
        &:after{
            content: '';
            display: inline-block;
            width: 12px;
            height: 12px;
            margin: 0 10px;
            border-top: 2px solid #ffffff;
            border-right: 2px solid #ffffff;
            transform: rotate(45deg);
            position: absolute;
            right:6%;
            top:0;
            bottom:0;
            margin: auto;
        }
        &:hover{
            background: #ffffff;
            color: #000000;
            transition: 0.3s all ease;
            &:after{
                border-color:#000;
                transition: 0.3s all ease;
            }
        }
    }
}


@media screen and (max-width: 768px){

    .front-service{
        padding: 50px 0;
        .service_1{
            background: none;
            height: auto;
            margin-top:40px;
        }
        .service_2{
            background: none;
            height: auto;
            margin-top:50px;
        }
    
        .cnt{
            width:100%;
            max-width:360px;
            margin:-20% auto 0;
            padding:0;
        }
    }
}






/***************************************
** 最新投稿
***************************************/

.front-contents{
    padding: 100px 0;
    background: #F4F4F1;
}

.content-posts{
    margin-top:60px;
}

.front-post-list{
    &::after{
        content:'';
        display: block;
        clear: both;
    }
    li{
        width:50%;
        float: left;
        padding:0 3%;
        &:nth-child(2n){
            padding-top:60px;
        }
    }
    .thumb{
        line-height: 1;
    }
    .date{
        font-family: 'Sawarabi Mincho';
        font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
        font-weight: lighter;
    }
    .post_text{
        margin:24px 0 32px;
        h4{
            font-size: 2.4rem;
            font-family: 'Sawarabi Mincho';
            font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
            font-weight: lighter;
            margin-bottom:12px;
        }
    }
    a{
        display: block;
        text-align: center;
        max-width:360px;
        font-size: 1.6rem;
        color:#ffffff;
        background: #000000;
        border: 1px solid #000000;
        padding:16px 0;
        margin: 0 auto;
        position: relative;
        &:after{
            content: '';
            display: inline-block;
            width: 12px;
            height: 12px;
            margin: 0 10px;
            border-top: 2px solid #ffffff;
            border-right: 2px solid #ffffff;
            transform: rotate(45deg);
            position: absolute;
            right:6%;
            top:0;
            bottom:0;
            margin: auto;
        }
        &:hover{
            background: #ffffff;
            color: #000000;
            transition: 0.3s all ease;
            &:after{
                border-color:#000;
                transition: 0.3s all ease;
            }
        }
    }
}



@media screen and (max-width: 768px){

    .front-contents{
        padding: 50px 0 30px;
    }

    .content-posts{
        margin-top:40px;
    }

    .front-post-list{
        li{
            width: auto;
            padding-bottom:40px;
            &:nth-child(2n){
                padding-top:0px;
            }
        }
        .post_text{
            max-width: 360px;
            margin: 20px auto 24px;
            h4{
                font-size: 2rem;
                margin-bottom:8px;
            }
        }
    }

}

/***************************************
** 会社概要
***************************************/

.front-company{
    padding: 100px 0;
    .txt{
        margin: 46px 0 42px;
        text-align: center;
    }
    .company-cnt{
        dl{
            border-bottom: 1px solid #333333;
            &:after{
                content: '';
                display: block;
                clear: both;
            }
            dt,dd{
                float: left;
                text-align: left;
                padding:26px 0;
            }
            dt{
                width:180px;
            }
            dd{
                width: auto;
            }
        }
    }
}


@media screen and (max-width: 768px){

    .front-company{
        padding: 50px 0;
        .txt{
            margin: 32px 0 28px;
        }
        .company-cnt{
            p{
                text-align: left;
            }
            dl{
                dt,dd{
                    float: none;
                }
                dt{
                    width:auto;
                    padding:24px 0 0;
                }
                dd{
                    width: auto;
                    padding:4px 0 24px;
                }
            }
        }
    }

}




/***************************************
** Contact
***************************************/

.front-contact{
    background: #F4F4F1;
    padding: 100px 0;
}


@media screen and (max-width: 768px){

    .front-contact{
        padding: 50px 0;
    }

}



/***************************************
** News、Instagram
***************************************/

.front-bottom{
    padding: 100px 0;
}

.front-news, .front-instagram{
    float: left;
    width: 50%;
}

.front-news-list{
    margin-top:50px;
    li{
        margin-bottom: 30px;
        &:last-child{
            margin-bottom:0;
        }
    }
    dl{
        &::after{
            content: '';
            display: block;
            clear: both;
        }
    }
    dt,dd{
        float: left;
    }
    dt{
        font-weight: bold;
        width: 120px;
    }
}







@media screen and (max-width: 768px){


    .front-bottom{
        padding: 50px 0;
    }

    .front-news, .front-instagram{
        float: none;
        width: auto;
    }

    .front-instagram{
        margin-top:40px;
    }

    .front-news-list{
        margin-top: 28px;
        dt,dd{
            float: none;
        }
    }
    

}








/***************************************
** Contact
***************************************/

.footer{

    padding: 54px 0;
    &-menu{
        display: flex;
        justify-content: space-between;
        border-bottom:1px solid #333;
        padding-bottom:26px;
        margin-bottom: 54px;
        ul{
            &::after{
                content: '';
                display: block;
                clear: both;
            }
            li{
                float: left;
                margin:0 10px;
            }
        }
    }
    p{
        text-align: center;
        font-size: 2.4rem;
        small{
            font-size: 1.2rem;
        }
    }
}


@media screen and (max-width: 768px){

    .footer{
        padding: 32px 0;
        &-menu{
            display: none;
        }

    }

}


.form-wrap{
    margin-top:40px;
}

.form-group{
    display: flex;
    margin-bottom:30px;
    &:after{
        content: '';
        display: block;
        clear: both;
    }
    label, .input, .textarea{
 
        display: block;
    }
    label{
        width:270px;
        padding-top: 3px;
        padding-right:10px;
        font-weight: bold;
    }
    .input, .textarea{
        width: 100%;
        position: relative;
    }

    .wpcf7-form-control-wrap{
        display: block;
        width: 100%;
    }
    input, textarea{
        padding:10px;
        display: block;
        width: 100%;
        -webkit-appearance: none;
        appearance: none;
        outline: none;
        border: none;
        background: #ffffff;
    }

    .require-mark{
       float: right;
       color:#962222;
    }

    .attention{
        font-size: 1.4rem;
    }
}

.smt-btn{
    margin-top:40px;
    input{
        font-size: 18px;
        display: block;
        -webkit-appearance: none;
        appearance: none;
        outline: none;
        border: none;
        background: #ffffff;
        line-height: 68px;
        width:100%;
        max-width: 360px;
        margin:0 auto 0;
        background: #000000;
        border: 1px solid #000000;
        color: #ffffff;
        &:hover{
            transition: all 0.3s ease;
            color: #000000;
            background-color: #ffffff;
        }
    }
}



@media screen and (max-width: 1060px){
    .form-wrap{
        margin-top:30px;
    }
    .form-group{
        display: block;
        margin-bottom:30px;
        label{
            width:100%;
            padding: 0;
        }
        .attention{
            font-size: 1.2rem;
        }
    }
}

@media screen and (max-width: 768px){
    
}


.toggle_btn{
    display: none;
    width: 30px;
    height: 30px;
    transition: all .5s;
    cursor: pointer;
    z-index: 3;
    position: relative;
    span {
        display: block;
        position: absolute;
        left: 0;
        width: 30px;
        height: 2px;
        background-color: #333;
        border-radius: 4px;
        transition: all .5s;
        &:nth-child(1) {
        top: 4px;
        }
        &:nth-child(2) {
        top: 14px;
        }
        &:nth-child(3) {
        bottom: 4px;
        }
    }
}

.batsu{
    display: block;
    width: 50px;/*枠の大きさ*/
    height: 50px;/*枠の大きさ*/
    position: relative;
    margin: 0 6px 0 auto;
    &::before, &::after{
        content: "";
        display: block;
        width: 30px;/*バツ線の長さ*/
        height: 2px;/*バツ線の太さ*/
        background: #000;
        transform: rotate(45deg);
        position: absolute;
        top:10px;
        bottom:0;
        left: 10px;
        margin: auto;
    }
    &::after{
        transform: rotate(-45deg);
    }
}




.front-menu{
    display: none;
    position: fixed;
    top:0;
    right: 0;
    z-index: 100;
    background: #ffffff;
    width: 100%;
    text-align: center;
    ul{
        padding:20px;
        li{
            margin-bottom:20px;
            a{
                font-size:20px;
            }
        }
    }
}

@media screen and (max-width: 768px){
    .toggle_btn{
        display: block;
    }
    // .front-menu{
    //     display: block;
    // }
}