@charset "UTF-8";

/* common ========================================================================== */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {
  line-height:2;
	text-align:center;
  font-family: "游ゴシック体",YuGothic,"Yu Gothic","ヒラギノ角ゴ ProN",sans-serif;
  font-size: 16px;
  color: #646464;
}
@media screen and (max-width: 896px) {
  body {
    font-size: 14px;
  }
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
  display:block;
}

a:link {
  color: #646464;
  text-decoration: none;
}

a:visited {
  color: #646464;
}

a:hover {
  opacity: 0.6;
  transition: all 0.3s ease 0s;
}

a:active {
  color: #646464;
}

.wrapper{
  min-width: 1200px;
}


@media screen and (max-width: 896px) {
  .wrapper{
    min-width: auto;
  }
} 

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.sawarabi {
  font-weight: 300;
  font-family: "Sawarabi Mincho";
}

.arrow_l {
  width: 40px;
  height: 40px;
  border: 1px solid;
  border-color:  transparent transparent #666 #666;
  transform: rotate(225deg);
}

.arrow_m {
  width: 30px;
  height: 30px;
  border: 1px solid;
  border-color:  transparent transparent #666 #666;
  transform: rotate(225deg);
}
@media screen and (max-width: 896px) {
  .arrow_m {
    width: 15px;
    height: 15px;
  }
}

.fluid {
  width: 100%;
  height: auto;
}

.section_block {
  margin-top: 80px;
}
@media screen and (max-width: 896px) {
  .section_block {
    margin-top: 60px;
  }
}

.section_block_m {
  margin-top: 40px;
}
@media screen and (max-width: 896px) {
  .section_block_m {
    margin-top: 20px;
  }
}

.link_block {
  display: block;
}


/* head ========================================================================== */

#head {
  
  top:0;
  bottom:0;
  left:0;
  background: #F7F3EC;
  width: 140px;
}
@media screen and (min-width: 897px) {
  #head {
    position: fixed;
  }
}
@media screen and (max-width: 896px) {
  #head {
    width: 100%;
    text-align: center;
    z-index: 5;
  }
}

@media screen and (min-width: 897px) {
  .logo {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    width:60px;
    height: 570px;
  }
}

@media screen and (min-width: 897px) {
  .logo div {
    height: 100%;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 897px) {
  .sub_logo {
    margin: 0 auto;
    font-size: 16px;
    letter-spacing: 20px;
    writing-mode: vertical-rl;
  }
}
@media screen and (max-width: 896px) {
  .sub_logo {
    font-size: 12px;
    letter-spacing: 10px;
    line-height: 1;
    padding-top: 10px;
  }  
}

@media screen and (min-width: 897px) {
  .main_logo {
    padding: 20px 0;
    margin: 0 auto;
    font-size: 30px;
    letter-spacing: 40px;
    writing-mode: vertical-rl;
  }
}
@media screen and (max-width: 896px) {
  .main_logo {
    padding: 10px 0;
    font-size: 24px;
    letter-spacing: 10px;
    line-height: 1;
  }
}

/* body ========================================================================== */

@media screen and (min-width: 897px) {
  .content{
    padding-left:140px;
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 897px) {
  #body {
    background: #fff;
    width: calc(100% - 600px);
    text-align: center;
    flex-grow: 2;
  }
}
@media screen and (max-width: 896px) {
  #body {
    background: #fff;
    width: 100%;
    text-align: center;
  }
}

#body ul {
  list-style: none;
}

@media screen and (min-width: 897px) {
  .body_wrapper {
    text-align: left;
    max-width: 800px;
    padding: 0 60px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 896px) {
  .body_wrapper {
    text-align: left;
    padding: 0 20px;
  }
}

.body_wrapper .text_bold {
  font-weight: bold;
  color: #660000;
}

.body_wrapper h1 {
  line-height: 1.5;
  text-align: center;
  color: #333;
}
@media screen and (min-width: 897px) {
  .body_wrapper h1 {
    padding-top: 30px;
    font-size: 42px;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 896px) {
  .body_wrapper h1 {
    padding-top: 20px;
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.body_wrapper h2 {
  border-left: #C3ABAB 4px solid;
  padding-left: 10px;
  line-height: 1.5;
  color: #333;
}
@media screen and (min-width: 897px) {
  .body_wrapper h2 {
    font-size: 28px;
    margin: 0 0 60px 0;
  }
}
@media screen and (max-width: 896px) {
  .body_wrapper h2 {
    font-size: 18px;
    margin: 0 0 20px 0;
  }
}

@media screen and (min-width: 897px) {
  .main_image {
    padding: 40px;
  }
}
@media screen and (max-width: 896px) {
  .main_image {
    padding: 0;
    overflow: hidden;
  }
}

@media screen and (min-width: 897px) {
  .main_image_photo {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 896px) {
  .main_image_photo {
    width: 160%;
    margin: 0 -30%;
  }
}

.photo_size {
  height: auto;
}
@media screen and (min-width: 897px) {
  .photo_size {
    width: 600px !important;
    padding: 20px 0;
    margin: 0 auto
  }
}
@media screen and (max-width: 896px) {
  .photo_size {
    width: 80%;
    padding: 10px 0;
  }
}

.t_center {
  margin: 0 auto;
}

.main_date {
  text-align: right;
  font-size: 12px;
  line-height: 1.5;
  padding-top: 10px;
}

.breadcrumbs_text {
  text-align: left;
  font-size: 11px;
  line-height: 1.5;
  font-weight: normal !important; 
}


.p_b_text {
  padding-bottom: 20px;
}
@media screen and (max-width: 896px) {
  .p_b_text {
    padding-bottom: 10px;
  }
}

.p_b_block {
  padding-bottom: 40px;
}
@media screen and (max-width: 896px) {
  .p_b_block {
    padding-bottom: 20px;
  }
}

.point_list {
  border-top: #BABABA 1px solid;
  border-bottom: #BABABA 1px solid;
}
@media screen and (min-width: 897px) {
  .point_list {
    padding-top: 40px;
    font-size: 18px;
    line-height: 2;
    padding-left: 20px;
  }
}
@media screen and (max-width: 896px) {
  .point_list {
    padding-top: 20px;
    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 897px) {
  .point_list li {
    align-items: center;
  }
}
@media screen and (max-width: 896px) {
  .point_list li {
    padding: 6px 0;
  }
}

.point_list li:before {
  content: "-";
  color: #BABABA;
  margin-right: 1em;
}


/* pickup ========================================================================== */


#pickup {
  border: #DEDEDE 1px solid;
}
@media screen and (min-width: 897px) {
  #pickup {
    padding: 40px;
  }
}
@media screen and (max-width: 896px) {
  #pickup {
    padding: 20px;
    text-align: center;
  }
}

#pickup img {
  width: 240px;
  height: 240px;
}
@media screen and (max-width: 896px) {
  #pickup img {
    width: 220px;
    height: 220px;
  }
}

@media screen and (max-width: 896px) {
  .arrow_l {
    display: none;
  }
}

@media screen and (min-width: 897px) {
  .pickup_box {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 897px) {
  #pickup .pickup_text {
    padding: 0 0 0 40px;
  }
}
@media screen and (max-width: 896px) {
  #pickup .pickup_text {
    text-align: left;
  }
}

#pickup .pickup_attention {
  font-size: 18px;
  color: #E60000;
  line-height: 1.5;
  font-weight: bold;
}
@media screen and (min-width: 897px) {
  #pickup .pickup_attention {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 896px) {
  #pickup .pickup_attention {
    padding-bottom: 10px;
  }
}

#pickup .pickup_name {
  font-size: 24px;
  line-height: 1.5;
}
@media screen and (max-width: 896px) {
  #pickup .pickup_name {
    font-size: 20px;
  }
}

/* link ========================================================================== */

@media screen and (min-width: 897px) {
  .link_box {
    display: flex;
    padding: 0 60px;
  }
}
@media screen and (max-width: 896px) {
  .link_box {
    padding: 0 20px;
  }
}

@media screen and (min-width: 897px) {
  .link_box_harf {
    width: 50%;
    text-align: left;
  }
}
@media screen and (max-width: 896px) {
  .link_box_harf {
    width: 100%;
    text-align: left;
    padding-bottom: 30px;
  }
}

.link_box_harf div {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 897px) {
  .link_box_harf div {
    margin-top: 5px;
  }
}

.link_box_harf .link_text {
  padding-left: 20px;
}
@media screen and (max-width: 896px) {
  .link_box_harf .link_text {
    padding-left: 10px;
  }
}

.link_box_harf .link_name {
  font-size: 24px;
  line-height: 1.5;
}
@media screen and (max-width: 896px) {
  .link_box_harf .link_name {
    font-size: 18px;
    line-height: 1;
  }
}

#pc_copy {
  font-size: 12px;
  line-height: 1.5;
  padding-bottom: 40px;
}
@media screen and (max-width: 896px) {
  #pc_copy {
    display: none;
  }
}

/* topics ========================================================================== */

#topics {
  background: #F7F3EC;
}
@media screen and (min-width: 897px) {
  #topics {
    flex-basis: 300px;
  }
}
@media screen and (max-width: 896px) {
  #topics {
    flex-direction: row;
  }
}

.topics_article {
  text-align: left;
}
@media screen and (min-width: 897px) {
  .topics_article {
    padding: 30px 30px 0 30px;
  }
}
@media screen and (max-width: 896px) {
  .topics_article {
    padding: 20px 20px 0 20px;
  }
}

.topics_title {
  font-size: 18px;
  border-left: #C3ABAB 4px solid;
  padding-left: 10px;
  line-height: 1.5;
  color: #222;
}

.topics_article dt {
  font-size: 14px;
  line-height: 1.5;
}

.topics_article dd {
  font-size: 14px;
  line-height: 1.5;
}

.topics_article dl {
  border-bottom: #BABABA 1px solid;
  padding: 20px 0;
}

#topics ul {
  list-style: none;
}

.recommend_image {
  text-align: center;
}
@media screen and (min-width: 897px) {
  .recommend_image {
    padding: 40px 0 20px;
  }
}
@media screen and (max-width: 896px) {
  .recommend_image {
    padding: 20px 0 20px;
  }
}

.recommend_image_size {
  width: 260px;
  height: 260px;
}
@media screen and (max-width: 896px) {
  .recommend_image_size {
    width: 220px;
    height: 220px;
  }
}

.recommend_text_title {
  font-size: 14px;
  line-height: 1.8;
}

.recommend_text_name {
  line-height: 1.5;
}
@media screen and (min-width: 897px) {
  .recommend_text_name {
    font-size: 18px;
  }
}
@media screen and (max-width: 896px) {
  .recommend_text_name {
    font-size: 16px;
  }
}

.topics_article li:last-child {
  padding-bottom: 30px;
}

a:hover {
  opacity: 0.6;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

@media screen and (min-width: 897px) {
  #smp_copy {
    display: none;
  }
}
@media screen and (max-width: 896px) {
  #smp_copy {
    width: 100%;
    background-color: #fff;
    padding: 10px 0;
    font-size: 12px;
    margin-top: 30px;
  }
}

/* pagetop ========================================================================== */

.pagetop{
  width: 100px;
  height: 100px;
  background-color: #660000;
  z-index: 10;
  right: 0;
  position: fixed;
  bottom: -100px;
}
@media screen and (max-width: 896px) {
  .pagetop {
    width: 80px;
    height: 80px;
  }
}

.arrow_m_w {
  width: 30px;
  height: 30px;
  border: 1px solid;
  border-color:  transparent transparent #fff #fff;
  transform: rotate(135deg);
  margin: 46px 0 0 34px;
}
@media screen and (max-width: 896px) {
  .arrow_m_w {
    width: 20px;
    height: 20px;
    margin: 37px 0 0 29px;
  }
}

/* img-animation ========================================================================== */

.img-wrap {
  overflow: hidden;
  position: relative;
}

.img-wrap img {
  display: block;
  height: auto;
  width: 100%;
}

.img-animation.sample-animation img {
  animation: img-animation 1.2s cubic-bezier(.4, 0, .2, 1);
}

@keyframes img-animation {
  0% {
    opacity: 0;
    transform: scale(1.2) translateY(24px);
  }
  
  32% {
    opacity: 0;
    transform: scale(1.2) translateY(24px);
  }
}
